<p id="notice"><%= notice %></p>

<% if current_user.admin? %>

<h1>Normal Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>email</th>
      <th>Admin</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user|
    if !user.supplier_id %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to "#{user.admin?}", admin_path(current_user), method: :patch, class: 'btn btn-info' %></td>
        <td><%= "#{user.lat}, #{user.long}" %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<br>

<h1>Suppliers</h1>

<table class="table">
  <thead>
    <tr>
      <th>email</th>
      <th>verified_status</th>
      <th>Admin</th>
      <th>Location</th>
      <th>Supplier ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user|
    if user.supplier_id %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.verified_status %></td>
        <td><%= link_to "#{user.admin?}", admin_path(current_user), method: :patch, class: 'btn btn-info' %></td>
        <td><%= user.lat %> , <%= user.long %></td>
        <td><%= user.supplier_id %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<br>
<% else %>
Access Denied
<% end %>
