<%= form_for(supplier) do |f| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">



  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field form-group">
  <%= f.label :Logo %>
  <%= f.file_field :avatar %>
</div>

<div class="field form-group">
  <%= f.label :User %>
  <%= f.select(:user) do %>
    <% User.all.each do |u| %>
      <%= content_tag(:option, u.email, value: u.id) %>
      <% end %>
    <% end %>
</div>



  <div class="actions">
    <%= f.submit %>
  </div>
    </div>
<% end %>
