<p id="notice"><%= notice %></p>

<h1>Suppliers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>id</th>
      <th>user</th>
      <th>image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.id %></td>
        <td><%= supplier.user %></td>
        <td><img src="<%= supplier.avatar.url %>" alt="" height="50px"></td>
        <td><%= link_to 'Show', supplier %></td>
        <% if policy(supplier).edit? %>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
        <% end %>
        <% if policy(supplier).destroy? %>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>
